model/WTD.pkl.gz filter=lfs diff=lfs merge=lfs -text
model/score.csv.gz filter=lfs diff=lfs merge=lfs -text
model/score_1m.csv.gz filter=lfs diff=lfs merge=lfs -text
model/score_president.csv.gz filter=lfs diff=lfs merge=lfs -text
model/score_subject.csv.gz filter=lfs diff=lfs merge=lfs -text
model/subject_lv2.csv.gz filter=lfs diff=lfs merge=lfs -text
